figure {
    display: none;
}

@include onDesktop {
    .light {
        display: block;
        border-radius: 50%;
        margin: 0;
    
        position: absolute;
        opacity: 0.3;
        filter: blur(100px);
    
        &--purple {
            width: 259px;
            height: 259px;
            background-color: #833AB4;
            top: -154px;
            left: 602px;
        }
    
        &--red {
            width: 311px;
            height: 311px;
            top: 251px;
            left: -102px;
            opacity: 0.5px;
            background: #961A1A;
        }
    }
    
    .ball {
        display: block;
        border-radius: 50%;
        margin: 0;
    
        position: absolute;
    
        &--purple {
            width: 60px;
            height: 60px;
            top: -2px;
            left: 868px;
            background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%);
            box-shadow: 3px 6px 27px -10px #B176D940;
            filter: blur(3px);
        }
    
        &--red {
            width: 83px;
            height: 83px;
            top: 83px;
            left: 519px;
            background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
            box-shadow: 3px 6px 27px -10px #DF7D7D40;
        }   
        
        &--small {
            width: 28px;
            height: 28px;
            top: 547px;
            left: 851px;
            background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
            box-shadow: 3px 6px 27px -10px #DF7D7D40;
            filter: blur(2px);
        }  
    }
    
}

